{% extends 'base.html.twig' %}

{% block title %}CPanel Business{% endblock %}

{% block body %}

    {% include 'control_panel/header.html.twig' %}
    {{ form_start(formBusiness) }}
    <div class="container is-fluid">
        <div class="tile is-ancestor">        
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Business{% endtrans %}</p>
                    <article>
                        <div class="field">                                                    
                            <img class="image is-2by1" src="{{ asset('images/business/' ~ image) }}">                        
                            <label class="label">{% trans %}CPanel.Business.Image{% endtrans %}(*)</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formBusiness.imagen, {'attr': {'class': 'input is-success'} }) }}
                                <span class="icon is-small is-left">
                                    <i id="emailCheckIconLeft" class="fas fa-image"></i>
                                </span>            
                            </div>
                            <p class="help is-info" id="emailActionHint">* Max. 2048kb</p>
                        </div>
                    </article>
                </div>

            </div>
            <div class="tile is-parent">
                <div class="tile is-child box has-background-link-light">
                    
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Business.Caption{% endtrans %}</label>
                            <div class="control has-icons-left">            
                                {{ form_widget(formBusiness.caption, {'attr': {'class': 'input is-success'}}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-utensils"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Business.Description{% endtrans %}</label>
                            <div class="control has-icons-left">            
                                {{ form_widget(formBusiness.description, {'attr': {'class': 'input is-success'}}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-file"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Business.Address{% endtrans %}</label>
                            <div class="control has-icons-left">            
                                {{ form_widget(formBusiness.address, {'attr': {'class': 'input is-success'}}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-location-arrow"></i>
                                </span>
                            </div>
                        </div>

                        <div class="container">
                            <div class="columns">
                                <div class="column is-two-fifths">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.Country{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.country, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-flag"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.State{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.state, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-map"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.City{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.city, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-building"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
        
                        <div class="container">
                            <div class="columns">
                                <div class="column is-one-fifth">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.Postcode{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.postcode, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-list-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column"></div>
                                <div class="column is-one-quarter">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.Phone{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.phone, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="columns">
                                <div class="column is-half">
                                    <div class="field">
                                        <label class="label">{% trans %}Cpanel.Business.Web{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.web, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <ion-icon src="{{ asset('images/ico/globe-outline.svg')}}"></ion-icon>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="columns">
                                <div class="column is-one-third">
                                    <div class="field">
                                        <label class="label"><img src="{{ asset('images/ico/twitter.png')}}">{% trans %}Cpanel.Business.Twitter{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.twitter_profile, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-hashtag"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-one-third">
                                    <div class="field">
                                        <label class="label"><img src="{{ asset('images/ico/facebook.png')}}">{% trans %}Cpanel.Business.Facebook{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.facebook_profile, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-hashtag"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-one-third">
                                    <div class="field">
                                        <label class="label"><img src="{{ asset('images/ico/instagram.png')}}">{% trans %}Cpanel.Business.Instagram{% endtrans %}</label>
                                        <div class="control has-icons-left">            
                                            {{ form_widget(formBusiness.instagram_profile, {'attr': {'class': 'input is-success'}}) }}
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-hashtag"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Submit button-->
                        <div class="field is-grouped mt-2">
                            <div class="control">
                                <button id="submitButton" class="button is-link">{{ button }}</button>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formBusiness) }}
{% endblock %}
