{% extends 'base.html.twig' %}

{% block title %}CPanel Business{% endblock %}

{% block body %}

    {% include 'control_panel/header.html.twig' %}
    
    <div class="container is-fluid">
        <div class="tile is-ancestor">        
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Dishes{% endtrans %}</p>
                    
                    <label class="label">{% trans %}Cpanel.Variation{% endtrans %}</label>
                    <div class="container">                    
                        {% for variation in variations %}
                            <div class="box" draggable="true">
                                <div class="columns">
                                    <div class="column is-one-third">
                                        <a><span class="icon is-size-5 is-pulled-left">
                                            <ion-icon class="js-modal-trigger" data-target="modal-ter" aria-haspopup="true" onclick="location.href='{{ path('app_edit_variation',{'hash': user.hash, 'dishe': dishe, 'variation': variation.id}) }}'" src="{{ asset('/images/ico/create-outline.svg')}}"></ion-icon>
                                        </span></a>
                                        <a><span class="icon is-size-5 is-pulled-left">
                                            <ion-icon onclick="delete({{ variation.id }})" src="{{ asset('/images/ico/close-circle-outline.svg')}}"></ion-icon>
                                        </span></a>
                                    </div>
                                    <div class="column">                                    
                                        <input data-token="{{ csrf_token(user.id) }}" onchange="updateNameVariation(this.value)" type="text" class="input" name="variationName" id="variationName" value="{{ variation.name }}" disabled>                                                                            
                                    </div>
                                    <div class="column is-one-third">                                    
                                        <input onchange="updatePriceVariation(this.value)" type="text" class="input" name="variationPrice" id="variationPrice" value="{{ variation.price |format_currency('EUR', {fraction_digit: 2}) }}" disabled>                                                                            
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="container">
                            <div class="field is-grouped mt-2">
                                <div class="column">
                                    <a id="cancelButton" class="button is-info" href="{{ path('app_add_variation', {'hash': user.hash, 'dishe': dishe }) }}">{% trans %}button.caption.add{% endtrans %}</a>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="tile is-child box has-background-danger-light">
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box has-background-link-light">
                    {{ form_start(formDishe) }}
                                            
                        {% set attr = {'class': 'input is-success'} %}
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Category.Caption{% endtrans %}</label>
                            <div class="select">
                                <div class="control">
                                    {{ form_widget(formDishe.category, {'attr': {'class': 'select is-success'}}) }}                                    
                                </div>
                            </div>
                        </div>
                        
                        {% if menu.lang01 == false %}
                            {% set attr = attr|merge({'disabled': true}) %}
                        {% endif %}
                        <img src="{{asset('images/ico/es.png')}}" height="16" width="16">
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Caption{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.caption, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-list-ol"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Description{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.description, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-paragraph"></i>
                                </span>
                            </div>
                        </div>
                        
                        {% set attr = {'class': 'input is-success'} %}
                        {% if is_granted('ROLE_PREMIUM') %}
                        {% else %}
                            {% set attr = attr|merge({'disabled': true}) %}
                            <a href="{{ path('app_index') }}"><span class="icon is-size-4 is-pulled-right"><ion-icon src="{{asset('images/ico/diamond-outline.svg')}}"></ion-icon></span></a>
                        {% endif %}
                        <img src="{{asset('images/ico/en.png')}}" height="16" width="16">
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Caption{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.caption_en, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-list-ol"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Description{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.description_en, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-paragraph"></i>
                                </span>
                            </div>
                        </div>
                        
                        <img src="{{asset('images/ico/ca.png')}}" height="16" width="16">
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Caption{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.caption_ca, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-list-ol"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Description{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formDishe.description_ca, {'attr': attr}) }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-paragraph"></i>
                                </span>
                            </div>
                        </div>
                        <!--Submit button-->
                        <div class="field is-grouped mt-2">                            
                            <div class="columns">
                                <div class="column">                                    
                                    <button id="submitButton" class="button is-link">{{button}}</button>
                                </div>
                                <div class="column">
                                    <a id="cancelButton" class="button is-danger" href="{{ path('app_edit_menu', {'hash': user.hash, 'slug': slug, 'menu_id': menu.id }) }}">{% trans %}button.caption.cancel{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {{ form_end(formDishe) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>

        function update(index){
            console.log("pulsa")
            $('#modal-ter').attr('class', 'is-active');
        }

    </script>
{% endblock %}