{% extends 'base.html.twig' %}

{% block title %}CPanel Business{% endblock %}

{% block body %}

    {% include 'control_panel/header.html.twig' %}  
    
    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Edit.Menu{% endtrans %}</p>
                    <form action="" method="POST">
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Menu.Caption{% endtrans %}</label>
                            <div class="columns is-mobile">
                                <div class="column">
                                    <a><span class="icon is-size-5 is-pulled-left">
                                        <ion-icon onclick="enabled()" src="{{ asset('/images/ico/create-outline.svg')}}"></ion-icon>
                                    </span></a>
                                </div>
                                <div class="column is-11">
                                    <div class="control has-icons-left">
                                        <input data-menu="{{ menu_id }}" data-token="{{ csrf_token(user.id) }}" onchange="updateCaption(this.value)" type="text" class="input" name="menuCaption" id="menuCaption" value="{{ menu.caption }}" disabled>
                                        <span class="icon is-small is-left">
                                            <ion-icon name="book-outline"></ion-icon>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tile is-child box has-background-link-light">
                    <span class="icon is-size-4 is-pulled-right">
                        <ion-icon src="{{ asset('/images/ico/repeat.svg')}}"></ion-icon>
                    </span>
                    <p class="title">{% trans %}Cpanel.Sections{% endtrans %}</p>
                    <p class="subtitle"></p>
                    {% if categories %}
                        <div class="columns">                            
                            <div class="column is-11">
                                <div class="container_drag">
                                    {% for element in categories %}                                        
                                        <div class="box box_drag draggable" draggable="true">
                                        <a href="{{ path('app_edit_category', {'hash': user.hash, 'category': element.id }) }}">
                                            <span class="icon is-size-6 is-pulled-left">
                                                <ion-icon src="{{ asset('/images/ico/create-outline.svg')}}"></ion-icon>
                                            </span>
                                        </a><span>{{element.caption}}</span></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="control mt-2">
                        <button id="submitButton" class="button is-link" onclick="location.href='{{ path('app_new_category', {'hash': user.hash }) }}'">{% trans %}Cpanel.Btn.CreateCategory{% endtrans %}</button>
                    </div>
                </div>
                <!-- Tile Options -->
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Options{% endtrans %}</p>
                    <div class="field">
                        <label class="label">{% trans %}Cpanel.Options.Lang{% endtrans %}</label>
                        <label class="checkbox"><input type="checkbox">es</label>
                        <label class="checkbox"><input type="checkbox">en</label>
                        <label class="checkbox"><input type="checkbox">ca</label>
                    </div>
                </div>
            </div>
            <a id="carta"></a>
            <div class="tile is-parent">
                <div class="tile is-child box has-background-danger-light">
                {% set active = null %}                
                    {% if categories %}
                    {% set title = categories[0].caption %}
                        <div class="tabs is-centered">
                            <ul>
                                {% if slug == null %}
                                    {% set slug = categories[0].slug %}
                                    
                                {% endif %}
                                {% for category in categories %}
                                    {% if category.slug == slug %}
                                        <li class="is-active">
                                            <a href="{{ path('app_edit_menu', {'hash': user.hash, 'slug': category.slug, 'menu_id': menu_id }) }}#carta">{{ category.caption }}</a>
                                        </li>
                                        {% set active = category.id %}
                                        {% set title = category.caption %}
                                    {% else %}
                                        <li>
                                            <a href="{{ path('app_edit_menu', {'hash': user.hash, 'slug': category.slug, 'menu_id': menu_id }) }}#carta">{{ category.caption }}</a>
                                        </li>                                        
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="container">
                            {% for plates in dishes %}
                                {% if plates.category.slug == slug %}
                                <div class="container">
                                    <article class="box" draggable="true">
                                        <a href="{{ path('app_edit_dishes', {'hash': user.hash, 'dishe': plates.id }) }}">
                                            <span class="icon is-size-6 is-pulled-left">
                                                <ion-icon src="{{ asset('/images/ico/create-outline.svg')}}"></ion-icon>
                                            </span>
                                        </a>
                                        <p class="is-size-3 has-text-weight-bold">{{ plates.caption }}</p>
                                        <p class="is-size-6 is-italic">{{ plates.description }}</p>
                                        <div class="columns">
                                            {% for variations in plates.getVariations %}
                                                <div class="column">
                                                    <p class="is-size-6 is-italic">{{ variations.name }}: <strong>{{ variations.price |format_number({fraction_digit: 2}) }}</strong></p>                                            
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </article>
                                    <hr>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if active %}
                        <div class="control mt-6">
                            <button id="submitButton" class="button is-link" onclick="location.href='{{ path('app_new_dishe', {'hash': user.hash, 'category': active }) }}'">
                                {% trans %}Cpanel.Btn.CreateDishe{% endtrans %}&nbsp;<strong>{{ title }}</strong>
                            </button>
                        </div>
                        {% endif %}
                    {% else %}                        
                        <article class="message is-info">
                            <div class="message-header">
                                <p>{% trans %}Cpanel.Message.CreateCategory{% endtrans %}</p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                {% trans %}Cpanel.Message.CreateCategoryHelpText{% endtrans %}
                            </div>
                        </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    const inputText = document.getElementById('menuCaption');
    var elementSelect = null;
    
    $(inputText).keydown(function (e){
        // Capturamos qué tecla ha sido
        var keyCode= e.which;
        // Si la tecla es el Intro/Enter
        if (keyCode == 13){
            // Evitamos que se ejecute eventos
            event.preventDefault();
            // Devolvemos falso
            updateCaption($(inputText).val())
            return false;
        }
    });
    
    function enabled(){
        inputText.disabled = false;
        inputText.select();
    }

    function updateCaption(value){
        var token = $(inputText).data('token');
        var menu = $(inputText).data('menu');
        var texto = $(inputText).val();        

        /*const client = new XMLHttpRequest();
        client.open("POST", "{{ path('ajax_updateCaptionMenu') }}");
        client.send();
        console.log(client.responseText);*/
        
        $.ajax({
            type: "POST",
            url: "{{ path('ajax_updateCaptionMenu') }}",
            data: { 
                token:  token,
                texto: texto,
                menu: menu,
                _locale: '{{app.request.getLocale()}}',
            },
            dataType: 'json',
            success: function(data) {
                if(data.result){
                    inputText.disabled = true;
                    swal("Cool!", data.mensaje, "success");
                } else if(data.result == false){
                    swal("Oops!", data.mensaje, "error");
                }
            },
        });
    }

    function sendOrder(){
        var token = $(inputText).data('token');
        var menu = $(inputText).data('menu');        
        var elements = [];
        var op = $('.draggable').each(function(){
            elements.push($(this).html());
        });        
        //console.log(elements);
        
        $.ajax({
            type: "POST",
            url: "{{ path('ajax_orderSections') }}",
            data: { 
                token:  token,
                sections: elements,
                menu: menu,
                _locale: '{{app.request.getLocale()}}',
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
            },
        });
        
    }

    // Drag&Drop
    document.addEventListener('DOMContentLoaded', (event) => {

        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }
        
        function handleDragEnd(e) {
            this.style.opacity = '1';
            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            e.dataTransfer.dropEffect = 'move';
            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }
            
            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }
            sendOrder()
            return false;
        }
        
        let items = document.querySelectorAll('.container_drag .box_drag');
        items.forEach(function(item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop);
            item.addEventListener('dragend', handleDragEnd, false);
        });
    });    
</script>
{% endblock %}