{% extends 'base.html.twig' %}

{% block title %}CPanel Business{% endblock %}

{% block body %}

    {% include 'control_panel/header.html.twig' %}  
    
    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Edit.Menu{% endtrans %}</p>
                    <form action="" method="POST">
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Menu.Caption{% endtrans %}</label>
                            <div class="columns is-mobile">
                                <div class="column">
                                    <a><span class="icon is-size-5 is-pulled-right"><i class="fa fa-edit" onclick="enabled()"></i></span></a>
                                </div>
                                <div class="column is-11">
                                    <div class="control has-icons-left">
                                        <input data-menu="{{ menu_id }}" data-token="{{ csrf_token(user.id) }}" onchange="updateCaption(this.value)" type="text" class="input" name="menuCaption" id="menuCaption" value="{{ menu.caption }}" disabled>
                                        <span class="icon is-small is-left">
                                            <ion-icon name="book-outline"></ion-icon>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Sections{% endtrans %}</p>
                    {% if categories %}
                        <div class="columns">
                            <div class="column">
                                <a><span class="icon is-size-5 is-pulled-right"><ion-icon src="{{ asset('images/ico/arrow-up-circle-outline.svg')}}" id="icon-up" onclick="up()"></ion-icon></span></a>
                                <a><span class="icon is-size-5 is-pulled-right"><ion-icon src="{{ asset('images/ico/arrow-down-circle-outline.svg')}}" id="icon-down" onclick="down()"></ion-icon></span></a>
                            </div>
                            <div class="column is-11">
                                <div class="select is-multiple">
                                    <select multiple size="{{ categories|length }}" id="selectSection">
                                    {% for element in categories %}
                                        <option value="{{element.captionEs}}" data-order="{{element.orderBy}}">{{element.captionEs}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="control mt-2">
                        <button id="submitButton" class="button is-link" onclick="location.href='{{ path('app_new_category', {'hash': user.hash }) }}'">{% trans %}Cpanel.Btn.CreateCategory{% endtrans %}</button>
                    </div>
                </div>
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Options{% endtrans %}</p>
                    <div class="field">
                        <label class="label">{% trans %}Cpanel.Options.Lang{% endtrans %}</label>
                        <label class="checkbox"><input type="checkbox">es</label>
                        <label class="checkbox"><input type="checkbox">en</label>
                        <label class="checkbox"><input type="checkbox">ca</label>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box has-background-link-light">
                {% set active = null %}
                    {% if categories %}
                        <div class="tabs is-centered">
                            <ul>
                                {% if caption == null %}
                                    {% set caption = categories[0].captionEs %}
                                {% endif %}
                                {% for category in categories %}
                                    {% if category.captionEs == caption %}
                                        <li class="is-active">
                                            <a href="{{ path('app_edit_menu', {'hash': user.hash, 'caption': category.captionEs, 'menu_id': menu_id }) }}">{{ category.captionEs }}</a>
                                        </li>
                                        {% set active = category.id %}
                                    {% else %}
                                        <li>
                                            <a href="{{ path('app_edit_menu', {'hash': user.hash, 'caption': category.captionEs, 'menu_id': menu_id }) }}">{{ category.captionEs }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            {% for plates in dishes %}
                                {% if plates.category.captionEs == caption %}
                                <div class="tile">
                                    <article>
                                        <a href="{{ path('app_edit_dishes', {'hash': user.hash, 'dishe': plates.id }) }}"><span class="icon is-size-6 is-pulled-left"><i class="fa fa-edit"></i></span></a>
                                        <p class="title">{{ plates.captionEs }}</p>
                                        <p class="subtitle is-italic">{{ plates.descriptionEs }}</p>
                                    </article>
                                    <hr>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if active %}
                        <div class="control mt-2">
                            <button id="submitButton" class="button is-link" onclick="location.href='{{ path('app_new_dishe', {'hash': user.hash, 'category': active }) }}'">{% trans %}Cpanel.Btn.CreateDishe{% endtrans %} {{ caption }}</button>
                        </div>
                        {% endif %}
                    {% else %}                        
                        <article class="message">
                            <div class="message-header">
                                <p>{% trans %}Cpanel.Message.CreateCategory{% endtrans %}</p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                {% trans %}Cpanel.Message.CreateCategoryHelpText{% endtrans %}
                            </div>
                        </article>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    const inputText = document.getElementById('menuCaption');
    const inputSelect = document.getElementById('selectSection');
    const iconUp = document.getElementById('icon-up');
    const iconDown = document.getElementById('icon-down');
    var elementSelect = null;
    
    $(inputText).keydown(function (e){
        // Capturamos qué telca ha sido
        var keyCode= e.which;
        // Si la tecla es el Intro/Enter
        if (keyCode == 13){
            // Evitamos que se ejecute eventos
            event.preventDefault();
            // Devolvemos falso
            updateCaption($(inputText).val())
            return false;
        }
    });

    inputSelect.addEventListener('change', (event) => {        
        $(iconUp).attr('src', '{{ asset('images/ico/arrow-up-circle.svg')}}');
        $(iconDown).attr('src', '{{ asset('images/ico/arrow-down-circle.svg')}}');
        elementSelect = event.target;
        elementPrueba = event.target.options;
        elementSelect = elementPrueba.selectedIndex;
        //console.log('element:', elementSelect);
    });

/*
    inputSelect.addEventListener('focusout', (event) => {        
        $(iconUp).attr('src', '{{ asset('images/ico/arrow-up-circle-outline.svg')}}');
        $(iconDown).attr('src', '{{ asset('images/ico/arrow-down-circle-outline.svg')}}');        
    });
*/    
    
    function enabled(){
        inputText.disabled = false;
        inputText.select();
    }

    function updateCaption(value){
        var token = $(inputText).data('token');
        var menu = $(inputText).data('menu');
        var texto = $(inputText).val();        

        /*const client = new XMLHttpRequest();
        client.open("POST", "{{ path('ajax_updateCaptionMenu') }}");
        client.send();
        console.log(client.responseText);*/
        
        $.ajax({
            type: "POST",
            url: "{{ path('ajax_updateCaptionMenu') }}",
            data: { 
                token:  token,
                texto: texto,
                menu: menu,
                _locale: '{{app.request.getLocale()}}',
            },
            dataType: 'json',
            success: function(data) {
                if(data.result){
                    inputText.disabled = true;
                    swal("Cool!", data.mensaje, "success");
                } else if(data.result == false){
                    swal("Oops!", data.mensaje, "error");
                }
            },
        });
    }

    function down(){
        if($(iconDown).attr('src') == '{{ asset('images/ico/arrow-down-circle-outline.svg')}}'){
            console.log("inactive");
            return false;
        }
        var op = $('#selectSection option:selected');        
        if(op.length){
            op.last().next().after(op);
            sendOrder();
        }
    }

    function up(){
        if($(iconUp).attr('src') == '{{ asset('images/ico/arrow-up-circle-outline.svg')}}'){
            console.log("inactive");
            return false;
        }
        var op = $('#selectSection option:selected');        
        if(op.length){            
            op.first().prev().before(op);
            sendOrder();
        }
    }

    function sendOrder(){
        var token = $(inputText).data('token');
        var menu = $(inputText).data('menu');        
        var elements = [];
        var op = $('#selectSection option').each(function(){
            elements.push($(this).val());
        });        
        //console.log(elements);
        $.ajax({
            type: "POST",
            url: "{{ path('ajax_orderSections') }}",
            data: { 
                token:  token,
                sections: elements,
                menu: menu,
                _locale: '{{app.request.getLocale()}}',
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
            },
        });

    }
</script>
{% endblock %}