{% extends 'base.html.twig' %}

{% block title %}CPanel Business{% endblock %}

{% block body %}

    {% include 'control_panel/header.html.twig' %}    
    
    <div class="container is-fluid">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box has-background-link-light">
                    <p class="title">{% trans %}Cpanel.Dishes{% endtrans %}</p>
                    <article>                        
                        {#{ form_start(formVariation) }}
                            <div class="field">
                                <label class="label">{% trans %}Cpanel.Dishes.Prix{% endtrans %}</label>
                                <div class="control has-icons-left">
                                    {{ form_widget(formVariation.price, {'attr': {'class': 'input is-success'}}) }}
                                    <span class="icon is-small is-left">
                                        <ion-icon name="logo-euro"></ion-icon>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{% trans %}Cpanel.Dishes.Name{% endtrans %}</label>
                                <div class="control has-icons-left">
                                    {{ form_widget(formVariation.name, {'attr': {'class': 'input is-success'}}) }}
                                    <span class="icon is-small is-left">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                    </span>
                                </div>
                            </div>
                        {{ form_end(formVariation) }#}
                    </article>
                </div>
                <div class="tile is-child box has-background-danger-light">
                    <div class="tile">
                        <article>                            
                            <p class="title">{{ dishe.caption }}</p>
                            <p class="subtitle is-italic">{{ dishe.description }}</p>
                        </article>
                        <hr>
                    </div>
                </div>
            </div>
            
            <div class="tile is-parent">
                <div class="tile is-child box has-background-link-light">
                    {{ form_start(formVariation) }}
                                            
                        {% set attr = {'class': 'input is-success'} %}
                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Prix{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formVariation.price, {'attr': {'class': 'input is-success'}}) }}
                                <span class="icon is-small is-left">
                                    <ion-icon name="logo-euro"></ion-icon>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">{% trans %}Cpanel.Dishes.Name{% endtrans %}</label>
                            <div class="control has-icons-left">
                                {{ form_widget(formVariation.name, {'attr': {'class': 'input is-success'}}) }}
                                <span class="icon is-small is-left">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                </span>
                            </div>
                        </div>
                                                
                        <!--Submit button-->
                        <div class="field is-grouped mt-2">                            
                            <div class="columns">
                                <div class="column">                                    
                                    <button id="submitButton" class="button is-link">{{button}}</button>
                                </div>
                                <div class="column">
                                    <a id="cancelButton" class="button is-danger" href="{{ path('app_edit_menu', {'hash': user.hash}) }}">{% trans %}button.caption.cancel{% endtrans %}</a>
                                </div>
                            </div>                            
                        </div>
                    {{ form_end(formVariation) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
