<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/bulma.min.css') }}" rel="stylesheet"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% trans_default_domain 'app' %}
    {% set lcl = app.request.getLocale() %}
    <body>
    <!-- message_flash -->
        {% for label, messages in app.flashes %}
            <div class="container is-widescreen">
            {% for message in messages %}
                <div class="modal is-active">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box has-background-{{label}}">
                            <p><strong>Atención</strong></p>
                            <p>{{ message }}<p>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    <!-- end message_flash -->
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('app_index', {_locale: lcl}) }}"> <!-- https://consultalacarta.es -->
                <img src="{{asset('images/logo.png')}}" alt="Logo CONSULTALACARTA" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>        
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{path('app_index')}}">
                    {% trans %}Menu.Home{% endtrans %}
                </a>
                <a class="navbar-item" href="{{path('app_index')}}#about">
                    {% trans %}Menu.About{% endtrans %}
                </a>
                <a class="navbar-item" href="{{path('app_index')}}#galeria">
                    {% trans %}Menu.Establishments{% endtrans %}
                </a>
                <a class="navbar-item" href="{{path('app_index', {_locale: lcl}) }}#contact">
                    {% trans %}Menu.Contact{% endtrans %}
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        {% trans %}Menu.Yourcount.Name{% endtrans %}
                    </a>
                    {% if app.user %}
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{{path('app_user_show', {_locale: lcl, id: app.user.id}) }}">
                                {% trans %}Menu.Yourcount.Profile{% endtrans %}
                            </a>
                            <a class="navbar-item" href="{{path('app_logout', {_locale: lcl}) }}">
                                {% trans %}Menu.Yourcount.Logout{% endtrans %}
                            </a>
                        </div>
                    {% else  %}
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{{path('app_register', {_locale: lcl}) }}">
                                {% trans %}Menu.Yourcount.Register{% endtrans %}
                            </a>
                            <a class="navbar-item" href="{{path('app_login', {_locale: lcl}) }}">
                                {% trans %}Menu.Yourcount.Login{% endtrans %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <!--<div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Search . . .">
                        </div>
                    </div>-->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="#">
                            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            {% set current_path = app.request.get('_route') %}
                            <a class="navbar-item" href="{{ path('app_index', {_locale: 'es'})}}">
                                Castellano
                            </a>
                            <a class="navbar-item" href="{{ path('app_index', {_locale: 'en'})}}">
                                English
                            </a>
                            <a class="navbar-item" href="{{ path('app_index', {_locale: 'ca'})}}">
                                Català
                            </a>                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
        <script src="{{ asset('js/bulma.js') }}"></script>
        <script>    
        document.addEventListener('DOMContentLoaded', () => {
            // console.log("Modal");
            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }
            function closeModal($el) {
                $el.classList.remove('is-active');
            }
            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }
            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);
                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });
            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');
                $close.addEventListener('click', () => {
                closeModal($target);
                });
            });
            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                const e = event || window.event;
                if (e.keyCode === 27) { // Escape key
                    closeAllModals();
                }
            });
        });
    </script>
    </body>
</html>
