{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <!-- message_flash -->
    {% for label, messages in app.flashes %}
        <div class="container is-widescreen">
        {% for message in messages %}
            <div class="notification has-background-{{label}}">
                <button class="delete"></button>
                <p><strong>{{'Attention!'|trans}}</strong></p>
                <p>{{ message|trans }}<p>
            </div>
            <!--
            <div class="notification is-{{label}}">
                <button class="delete"></button>            
            </div>
            -->
        {% endfor %}
        </div>
    {% endfor %} <!-- end message_flash -->
    <div class="section">
        <h1 class="title">{% trans %}Title.User.New{% endtrans %}</h1>
        {{ form_start(form) }}
            {{ include('user/_form.html.twig') }}
        {{ form_end(form) }}        
    </div>

    <script>
        // Closed notifications flash
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;
                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
{% endblock %}
